.cardboardCont{
  max-width: 100vw;
  margin-bottom: 3rem ;
  overflow-y: auto; 
  max-height: calc(100vh - 4rem); 
}

.title {
  font-family: RmFont;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 8px;
  display: grid;
  place-content: center;
  width: 100%;
  height: 60px;
  color: var(--opaqueGreen);

  margin-bottom: 6rem;
}

.cardBoard {
  
  display: grid;
 
  max-width: 80%;
  margin-inline: auto;
  max-height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

 
}

.cardBoard p{
  width: 77.5vw;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
