.App {
 /* display: flex;
 flex-direction: column; */
 /* height: 100vh; */
 /* max-height: 100svh; */
 box-sizing: border-box;
 text-align: center;
}

.mainLayout {
    /* height: 100dvh; */
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

