:root {
  --mainBorderColor: #ffffff;
  --mainFontColor: #ffffff;
  --softGreen: #E4F7D2;
  --opaqueGreen: #748F5D;
  --mainGreen: #69D400;
  --marine: #00506B;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background-image: url(https://cdna.artstation.com/p/assets/images/images/030/235/356/large/bagas-pangestu-labconcept.jpg?1600013735); */
  /* background-image: url(https://assets.housingsnap.com/uploads/paragraph/image/184546/078bf2e3f3cf12a8e8d6f57e937d3c20_copyright.jpg); */
  /* background-image: url('./assets/background.jpg'); */
  background-color: #000000;
  
}

body {
  /* overflow: hidden; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

