.loginPage {
  display: grid;
  place-content: center;
  min-height: calc(100vh - 16.5rem);
  width: 100%;
  padding-top: 3rem;
  text-shadow: var(--mainFontColor) 1px 0 5px;
  
}
.imgLogo {
  margin-inline: auto;
  width: 65%;
  max-width: 300px;
  animation: floshUp 2.9s ease-in;
}

.title {
  font-family: RmFont;
  font-size: 140%;
  letter-spacing: 3px;
  animation: neonLogo 4.5s ease-in-out infinite alternate,
  titleComming 1s ease-in;
}

.formCont {
  animation: floshUp 1.8s ease-in;
  padding-block: 1rem;

}

@media screen and (min-width: 992px) {
  .loginPage {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-inline: auto;
    align-items: center;
    max-width: 1480px;
  }

  .imgLogo {
    margin-inline: auto;
    width: 52%;
    max-width: none;
    min-width: 370px;
    animation: floshUp 2.9s ease-in;
  }

  .title {
    margin-bottom: -28px;
    font-family: RmFont;
    font-size: 240%;
    letter-spacing: 3px;
    animation: neonLogo 4.5s ease-in-out infinite alternate,
      titleComming 1s ease-in;
  }
}

@keyframes titleComming {
  from {
    font-size: 15%;
  }
  to {
    font-size: 140%;
  }
}
@keyframes floshUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "RmFont";
  src: url("../../assets/Fonts/get_schwifty.ttf") format("truetype");
}

@keyframes neonLogo {
  from {
    text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #48ff0091,
      0 0 40px #48ff0091, 0 0 60px #48ff0091, 0 0 40px #48ff0091,
      0 0 50px #48ff0091;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6efc365b,
      0 0 35px #6efc365b, 0 0 40px #6efc365b, 0 0 50px #6efc365b,
      0 0 75px #6efc365b;
  }
}
