.favoritesCont{
  max-width: 100vw;
  margin-bottom: 3rem ;
  overflow-y: auto; 
  height: calc(100svh - 10.5rem);
  max-height: calc(100vh - 4rem); 
  text-shadow: var(--mainFontColor) 1px 0 5px;
  

  /* display: grid; */
  /* place-content: center; */

}

.cardBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: 3rem;
  margin-right: 3rem;
 
  overflow-y: hidden;
  animation-duration: 5s;

}

.sorters {
  margin-block: unset;
  margin-top: 2rem;
}  

.customSelect {
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  gap: .5rem;
  font-weight: 400;
  
  text-align: start;
  font-size: 24px;
}
.customSelect i {
  padding-right: 100px;
  color: var(--softGreen);

}
.customSelect option,
.customSelect select {
 
  /* padding-inline: 2rem; */
  border: none !important;
  outline: none!important;
  background: none;
  width: 8rem;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
}
.customSelect option {
  background: black;
  margin-bottom: 10px;

}



@media screen and (min-width: 992px) {.customSelect {

  flex-direction: row;

}}  



