.favoritesCont {
  text-shadow: var(--mainFontColor) 1px 0 5px;
  display: flex;
  flex-direction: column; 
}

.cardBoard {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  overflow-y: hidden;
  animation-duration: 5s;
}

.customSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 3rem;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 24px;
}
.customSelect option,
.customSelect select {
  
  border: none !important;
  outline: none !important;
  background: none;
  width: 8rem;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
}
@media screen and (max-width: 991px) {
  .customSelect option,
  .customSelect select {
    margin: 0 auto; /* Establece el margen a auto */
  }
}
.customSelect option {
  background: black;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .customSelect {
    flex-direction: row;
  }
}
