.loginCard {
  padding-inline: 0.8rem;
}
.mainTitle {
  display: none;
}

.subtitle {
  width: 85%;
  max-width: 640px;
  padding-bottom: 1rem;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.loginForm input {
  width: 100%;
  height: 2rem;
  border-radius: 12px;
  padding-inline: 0.3rem;
  background-color: rgba(128, 128, 128, 0.432);
  color: rgb(255, 244, 244);
  font-weight: 600;
  font-size: 18px;
}
.loginForm label {
  font-size: 19px;
  padding: .4rem;
}
.errorChart {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  animation: neonError 4.5s ease-in-out infinite alternate;
}
.succes {
  border: 0.1px solid green !important;
}
.error {
  border: 0.1px solid red !important;
}
.none {
  border: none;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.192);
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (min-width: 992px) {
  .loginForm input {
    width: 23.7rem;
    height: 1.8rem;
    border-radius: 12px;
    padding-inline: 0.3rem;
 
 
  }
  .subtitle {
    width: 95%;
    font-size: large;
    max-width: 640px;
    padding-bottom: 1rem;
  }
  .mainTitle {
    display: block;
    padding: 3rem;
    font-size: larger;
  }
}

@keyframes neonError {
  from {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #ff000091,
      0 0 7px #ff000091, 0 0 8px #ff000091, 0 0 1px #ff000091, 0 0 1px #ff000091;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fc363677,
      0 0 35px #fc363677, 0 0 20px #fc363677, 0 0 20px #fc363677,
      0 0 15px #fc363677;
  }
}
