.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100svw;
    width: -webkit-fill-available;
    width: -moz-available;
    max-height: 2rem;
    padding: .9rem 2rem;
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, .08);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 2px solid #cccccc46; */
    /* box-shadow: rgba(136, 165, 191, 0.9) 0 -2px 16px 0px,
    rgba(255, 255, 255, 0) 0px 7px 3px 0px inset;  */
    box-shadow: 0px 29px 39px 8px rgba(255, 255, 255, 1);
}

