.navBar {
  position: sticky;
  top: 0;
  height: 4.5rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.08);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid transparent;
  box-shadow: rgba(136, 165, 191, 0.9) 0 -2px 16px 0px,
  rgba(255, 255, 255, 0) 0px 7px 3px 0px inset; 
  /* box-shadow: 0px 29px 45px -32px rgba(255, 255, 255, 1); */
  
}

.navLink {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px!important;
  font-weight: 600;

  
}


.brand {
  display: flex;
  gap: 7%;
  width: 250px;
  height: 3.9rem;
  min-height: 2rem;
}



.listItem {
  list-style:none
}


@media screen and (min-width: 768px) {
  .navLink {
    flex-direction: row;
    font-size: 14px!important;
  }
}
@media screen and (min-width: 991px) {
  .navLink {

    font-size: 19px!important;
  }
}